<!DOCTYPE html>
<html>
<head>
    <title>Custom Raspian App</title>
    <link rel="stylesheet" href="maingui.css">
</head>
<body>

<div id="app" class="wrapper">
    <div class="leftpane">
        <div>
            <h3>SECTIONS</h3>
            <a href="#">User Config</a>
        </div>

        <div>
            <h3>ACTIONS</h3>
            <button v-on:click="run">RUN!</button>
              
            
        </div>

    </div>
    <div class="middlepane">
        <h3>USER CONFIG</h3>
        
        
        <fieldset>
        <legend>Pi settings</legend>
        <div>
            <label for="hostname">Raspberry Pi host name</label>
            <input type="hostname" :value="PI_HOSTNAME"/>
        </div>
        <div>
            <label for="piuserpassword">PASSWORD FOR USER <b>pi</b></label>
            <input name="piuserpassword" type="text" :value="PI_USER_PASSWORD"/>
        </div>
        </fieldset>
      
        <fieldset>
            <legend>Keyboard Layout</legend>
            <div>
                <label for="keyboardlayout">Language</label>
                <input name="keyboardlayout" type="text" :value="RASPBIAN_KEYBOARD_LAYOUT"/>
            </div>
        </fieldset>

        <fieldset>
            <legend>Wifi Settings</legend>
            <div>
                <label for="overridewifi">Override wifi</label>
                <input type="checkbox" name="overridewifi" :checked="RASPBIAN_OVERRIDE_WIFI_SETTINGS"/>
            </div>
            <div>
                <label for="ssid">SSID</label>
                <input name="ssid" type="text" :value="RASPBIAN_WIFI_SSID" />

                <label for="wifipassword">Password</label>
                <input type="text" name="wifipassword" :value="RASPBIAN_WIFI_PASSWORD"/>
            </div>
        </fieldset>

        <fieldset>
            <legend>Bluetooth</legend>
            <div>
                <label for="bluetooth">Enable Bluetooth</label>
                <input name="bluetooth" type="checkbox" :checked="RASPBIAN_ENABLE_BLUETOOTH"/>
            </div>
        </fieldset>

        <fieldset>
            <legend>Raspi-config Interfaces</legend>
            <div v-for="(value,key) in RASPICONFIG">
                <div>
                <label :for="key">{{key}}</label>
                <input v-model="RASPICONFIG[key]" type="checkbox" :name="key" :checked="value" /> 
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Apt-get sofware</legend>
                
                <div v-for="value in RASPBIAN_APT_INSTALL">
                    <div>
                        <input type="text" :value="value"/>
                </div>
            
        </fieldset>

        <fieldset>
            <legend>NodeRed Modules</legend>
                <div v-for="value in NODERED_MODULES">
                    <div>
                        <input type="text" :value="value"/>
                </div>            
        </fieldset>

        <fieldset>
            <legend>Python 2 modules via apt-get</legend>
                <div v-for="value in PYTHON2_APT_MODULES">
                    <div>
                        <input type="text" :value="value"/>
                </div>             
        </fieldset>

        <fieldset>
            <legend>Python 3 modules via apt-get</legend>
                <div v-for="value in PYTHON3_APT_MODULES">
                    <div>
                        <input type="text" :value="value"/>
                </div>             
        </fieldset>

        <fieldset>
            <legend>Python 2 modules via pip</legend>
                <div v-for="value in PYTHON2_PIP_MODULES">
                    <div>
                        <input type="text" :value="value"/>
                </div>             
        </fieldset>

        <fieldset>
            <legend>Python 3 modules via pip</legend>
                <div v-for="value in PYTHON3_PIP_MODULES">
                    <div>
                        <input type="text" :value="value"/>
                </div>             
        </fieldset>

        <fieldset>
            <legend>Docker Containers</legend>
            <div v-for="(value,key) in DOCKER">
                <div>
                <label :for="key">{{key}}</label>
                <input v-model="DOCKER[key]" type="checkbox" :name="key" :checked="value" /> 
                </div>
            </div>            
        </fieldset>
      <div>
          <button v-on:click="save">Save</button>
      </div>
    </div>

</div>


<script>
const Vue = require('vue/dist/vue.common.js');

   function vuestuff(userconfig){
    
    const configdata = Object.keys(userconfig).reduce(function(acc,cur) {
        acc[cur] = userconfig[cur];
        return acc;
    }, {});
    
    //console.log(configdata);
        
    var app = new Vue({
        el: '#app',
        methods: {
            run: function(event) {
                alert('Run');
            },

            save: function(event) {
                const data_to_save = JSON.parse(JSON.stringify(this.$data));
                yaml = require('js-yaml');
                fs = require('fs');
        //const yamlfile = pathName + path.sep + "raspberrypi-ansible-master" + path.sep + "group_vars" + path.sep + "raspberrypis2.yml";
        //console.log(yaml.safeDump(data_to_save));

            pathStorage = storage.get('workspacePath', function(error,data){
        const pathName = data.path[0];
        const yamlfile = pathName + path.sep + "raspberrypi-ansible-master" + path.sep + "group_vars" + path.sep + "raspberrypis2.yml";
        fs.writeFileSync(yamlfile,yaml.safeDump(data_to_save));
        });              

            }
        },
        data: configdata
 
        /*
        {
            message: 'Hello Vue!',
            raspiconfig: {
                vnc: userconfig.RASPICONFIG_ENABLE_VNC,
                camera: userconfig.RASPICONFIG_ENABLE_CAMERA,
                i2c: userconfig.RASPICONFIG_ENABLE_I2C,
                serial: userconfig.RASPICONFIG_ENABLE_SERIAL,
                onewire: userconfig.RASPICONFIG_ENABLE_ONEWIRE,
                spi: userconfig.RASPICONFIG_ENABLE_SPI,
                rgpio: userconfig.RASPICONFIG_ENABLE_RGPIO
                },
            aptsoftware: aptsoftware,
            noderedmodules: noderedmodules,
            python2apt: python2apt,
            python3apt: python3apt,
            python2pip: python2pip,
            python3pip: python3pip,
            dockercontainers: dockercontainers,
            keyboard: keyboard,
            pipassword: pi_password,
            overridewifi: overridewifi,
            ssid: ssid,
            wifipassword: wifipassword
        }
        */
    }); 
    
   }

    yaml = require('js-yaml');
    fs = require('fs');
    path = require('path');
    const storage = require('electron-json-storage');
    pathStorage = storage.get('workspacePath', function(error,data){
        const pathName = data.path[0];
        const yamlfile = pathName + path.sep + "raspberrypi-ansible-master" + path.sep + "group_vars" + path.sep + "raspberrypis.yml"
        const userdatayaml = fs.readFileSync(yamlfile, 'utf-8')
        //console.log(userdatayaml);
        userconfig = yaml.safeLoad(userdatayaml);
        console.log(userconfig);
        vuestuff(userconfig);
    });


</script>
</body>
</html>